- issuable = local_assigns.fetch(:issuable)

- return unless issuable.is_a?(MergeRequest)
- return if issuable.closed_without_fork?

- if issuable.can_remove_source_branch?(current_user)
  .form-group.row
    .col-sm-10.offset-sm-2
      .form-check
        = hidden_field_tag 'merge_request[force_remove_source_branch]', '0', id: nil
        = check_box_tag 'merge_request[force_remove_source_branch]', '1', issuable.force_remove_source_branch?, class: 'form-check-input'
        = label_tag 'merge_request[force_remove_source_branch]', class: 'form-check-label' do
          Remove source branch when merge request is accepted.

.form-group
  .col-sm-10.col-sm-offset-2
    .form-check
      = hidden_field_tag 'merge_request[squash]', '0', id: nil
      = check_box_tag 'merge_request[squash]', '1', issuable.squash, class: 'form-check-input'
      = label_tag 'merge_request[squash]', class: 'form-check-label' do
        Squash commits when merge request is accepted.
        = link_to 'About this feature', help_page_path('user/project/merge_requests/squash_and_merge')
